body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #000000;
  background-color:#e4be00;
  padding: 0%;
  margin:0%;
}

h1 {
  font-size: 4vw;
}

p{
  font-size: 110%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #e3e2dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e3e2dd9f;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e3e2dd;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}