body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #000000;
  background-color:#e3e2dd;
  padding: 0%;
  margin:0%;
}

h1 {
  font-size: 5vw;
}

h2{
  text-decoration: underline;
  font-size: 3vw;
}

h3{
  text-align: left;
  padding: 10%;
  font-size: 2.5vw;
}

p{
  font-size: 110%;
}

/*Navigation Bar*/
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #e3e2dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #99999992;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e3e2dd;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*FOOTER*/
.footer {
  background-color: #333;
  color: #e3e2dd;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.footer a {
  color: #e3e2dd;
  text-decoration: none;
  margin: 0 15px;
}

.footer a:hover {
  text-decoration: underline;
}


/* IMAGES */
#logoImage {
  width: 60%; /* Set the width */
  height: auto; /* Maintain aspect ratio */
}

.logoImage_2 {
  width: 60%; /* Set the width */
  height: auto; /* Maintain aspect ratio */
}
/*PROFILES*/

.profile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  gap: 20px; /* Spacing between cards */
  padding: 10%;
  max-width: 1200px; /* Optional: Set a maximum width for the grid */
  margin: auto;
}
        
.profile-card {
    background-color: #ffffff;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    /* Remove fixed width to allow cards to adapt to the grid layout */
}

.profile-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eeeeee;
}

.profile-card .profile-info {
    padding: 20px;
}

.profile-card h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 5px;
}

.profile-card p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 15px;
}

.profile-card .role {
    font-size: 90%;
    font-weight: bold;
    color: #555555;
}

.profile-card .bio {
    font-size: 14px;
    color: #666666;
}

/*EVENTS*/
.future-events-info{
  padding: 5%;
}

.past-events-info{
  padding: 5%;

}